* {
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
}

#pages {
	margin: 40px auto 0;
	height: 880px;
	width: 980px;
}

.v-utils-demo {
	._fn {
		float: left;
		width: 298px;
		border: 1px solid #666;
		padding-left: 20px;
		p {
			font: bold 18px / 36px '';
			color: #ada52b;
		}

		li {
			height: 36px;
			font: 16px / 36px '';
			border-bottom: 1px solid #555;
			input {
				margin-right: 5px;
			}
			&:last-child {
				border-bottom: none;
			}
		}
	}
	._inputs {
		width: 300px;
		float: left;
		padding-left: 20px;
		li {
			height: 60px;
			font: bold 24px / 60px;
			border-bottom: 2px solid #d8d8d8;
			color: #ddc950;
			vertical-align: middle;
			span {
				vertical-align: middle;
				width: 25%;
				display: inline-block;
			}

			input {
				vertical-align: middle;
			}

			i {
				display: inline-block;
				height: 100%;
				width: 0;
				vertical-align: middle;
			}
			p {
				font: bold 18px / 36px '';
				color: #ada52b;
			}
		}
	}
	._log {
		width: 300px;
		float: left;
		padding-left: 20px;
		> p {
			font: bold 18px / 36px '';
			color: #ada52b;
		}
		div {
			padding-top: 10px;
			button {
				margin-bottom: 10px;
			}

			p {
				font: 18px / 36px '';
				color: #666;
			}
		}
	}
}
